snippet met
public function $1($2)
{
	$3
}
endsnippet

snippet protmet
protected function $1($2)
{
	$3
}
endsnippet

snippet privmet
private function $1($2)
{
	$3
}
endsnippet

snippet testmet
/**
* @test
*/
public function it_$1()
{
	$2
}
endsnippet
